.row
  .col-lg-6.col-sm-8
    %h1= @library.name
    - unless @library.homepage_uri.blank?
      %h4= link_to @library.homepage_uri, @library.homepage_uri, class: 'green'
    %h2
      %small= @library.description
  .col-lg-3.visible-lg.text-center
    .panel.panel-default
      .panel-heading <span class="b">#</span> libraries using it
      .panel-body
        .text-huge= number_with_delimiter @library.used_by.count

- if @library.github?
  .row
    .col-lg-12
      %h2 Documentation
      %section.panel.panel-default#readme
        .panel-heading README
        .panel-body
          = find_and_preserve do
            = render_readme(*@library.github_repository)
