- content_for :title, 'Find & vote for popular libraries'

.spacer30
.text-center.hidden-xs
  %ul.list-inline
    %li
      %strong Rubygems: 
      = number_with_delimiter Library.where(manager_cd: Library.rubygems).count
      libraries
    %li
      %strong Go:
      = number_with_delimiter Library.where(manager_cd: Library.go).count
      libraries
    %li
      %strong NPM: 
      = number_with_delimiter Library.where(manager_cd: Library.npm).count
      libraries
    %li
      %strong PyPi:
      = number_with_delimiter Library.where(manager_cd: Library.pip).count
      libraries
  %ul.list-inline
    %li
      %strong Composer:
      = number_with_delimiter Library.where(manager_cd: Library.composer).count
      libraries
    %li
      %strong Julia:
      = number_with_delimiter Library.where(manager_cd: Library.julia).count
      libraries
    %li
      %strong Atom:
      = number_with_delimiter Library.where(manager_cd: Library.apm).count
      packages

.row
  - lasts = Vote.select('DISTINCT(library_id)').last(3).map(&:library)
  .col-lg-6
    %h2 Last votes
    = render partial: '/libraries/summary', collection: lasts
  .col-lg-6
    %h2.text-right Trending libraries
    = render partial: '/libraries/summary', collection: Vote.where.not(library_id: lasts.map(&:id)).last(100).group_by { |v| v.library_id }.sort { |a, b| b[1].length <=> a[1].length }.first(3).map { |count, v| v.first.library }

- content_for :page_javascript do
  :javascript
    (function() { $('#q').focus(); })();
