- content_for :title, 'Find & vote for popular libraries'

.spacer30
.text-center.hidden-xs
  %ul.list-inline
    %li
      %strong #{link_to "Rubygems", root_url(subdomain: 'ruby'), class: 'text-default'}:
      = number_with_delimiter Library.where(manager_cd: Library.rubygems).count
      libraries
    %li
      %strong #{link_to "Go", root_url(subdomain: 'go'), class: 'text-default'}:
      = number_with_delimiter Library.where(manager_cd: Library.go).count
      libraries
    %li
      %strong #{link_to "NPM", root_url(subdomain: 'npm'), class: 'text-default'}:
      = number_with_delimiter Library.where(manager_cd: Library.npm).count
      libraries
    %li
      %strong #{link_to "PyPi", root_url(subdomain: 'pypi'), class: 'text-default'}:
      = number_with_delimiter Library.where(manager_cd: Library.pip).count
      libraries
  %ul.list-inline
    %li
      %strong #{link_to "Composer", root_url(subdomain: 'composer'), class: 'text-default'}:
      = number_with_delimiter Library.where(manager_cd: Library.composer).count
      libraries
    %li
      %strong #{link_to "Julia", root_url(subdomain: 'julia'), class: 'text-default'}:
      = number_with_delimiter Library.where(manager_cd: Library.julia).count
      libraries
    %li
      %strong #{link_to "Atom", root_url(subdomain: 'atom'), class: 'text-default'}:
      = number_with_delimiter Library.where(manager_cd: Library.apm).count
      packages

.row
  - lasts = Vote.select('DISTINCT(library_id)').last(3).map(&:library)
  .col-lg-6
    %h2 Last votes
    = render partial: '/libraries/summary', collection: lasts
  .col-lg-6
    %h2.text-right Trending libraries
    = render partial: '/libraries/summary', collection: Vote.where.not(library_id: lasts.map(&:id)).last(100).group_by { |v| v.library_id }.sort { |a, b| b[1].length <=> a[1].length }.first(3).map { |count, v| v.first.library }

- content_for :page_javascript do
  :javascript
    (function() { $('#q').focus(); })();
