%h1
  = "#{@project.user} / #{@project.name}"
  .pull-right
    %iframe{src: "http://ghbtns.com/github-btn.html?user=#{@project.user}&repo=#{@project.name}&type=watch&count=true",
  allowtransparency: true, frameborder: 0, scrolling: 0, width: 110, height: 20}
    %iframe{src: "http://ghbtns.com/github-btn.html?user=#{@project.user}&repo=#{@project.name}&type=fork&count=true",
  allowtransparency: true, frameborder: 0, scrolling: 0, width: 95, height: 20}

.row
  .col-lg-8.col-sm-10
    %h4= link_to "https://github.com/#{@project.user}/#{@project.name}", "https://github.com/#{@project.user}/#{@project.name}", class: 'green'
    %h2
      %small= @project.description

- dependencies = @project.dependencies.includes(:library).sort { |a,b| b.library.projects_watcher_count <=> a.library.projects_watcher_count }
- unless dependencies.empty?
  .row
    .col-lg-12
      %h2 Using
      = render partial: '/libraries/summary', collection: dependencies

.row
  .col-lg-12
    %h2 Documentation
    %section.panel.panel-default#readme
      .panel-heading README
      .panel-body
        = find_and_preserve do
          = render_readme(@project.user, @project.name)
